:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
  
* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 30px 20px;
    width: 350px;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
}

h4 {
    margin: 0;
    text-transform: uppercase;
}

.inc-exp-container {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container > div {
    flex: 1;
    text-align: center;
}

.inc-exp-container > div:first-of-type {
    border-right: 1px solid #dedede;
}

.money {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 5px 0;
}

.money.plus {
    color: green;
}

.money.minus {
    color: #c0392b;
}

label {
    display: inline-block;
    margin: 10px 0;
}
  
input[type='text'],
input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn {
    cursor: pointer;
    background-color: #ff8901;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactionList {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
}

.transactionList li {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
}

.transactionList li.plus {
    border-right: 5px solid green;
}
  
.transactionList li.minus {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    cursor: pointer;
    background-color: #e74c3c;
    border: 0;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    padding: 2px 5px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.transactionList li:hover .delete-btn {
    opacity: 1;
}

button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.globalTime {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.time-circle {
    width: 100%;
    max-width: 15rem;
    position: relative;
    display: grid;
}

.time-circle::before {
    border: 3px solid #fafafa;
    border-radius: 100%;
    animation: 1s linear infinite alternate abberation, 4s linear infinite spin;
    padding-top: 100%;
    content: "";
    width: 100%;
    position: relative;
    pointer-events: none;
    z-index: -1;
}

.paused::before {
    animation: none;
    transition: 0.3s transform;
    background-color: #ff8901;
}

@keyframes abberation {
     from {
       box-shadow: 0 0 0 0 #c0392b, 0 0 0 0 green;
     }
    to {
       box-shadow: 0.25rem 0.125rem 0 0 #c0392b, -0.25rem -0.125rem 0 0 green;
     }
}

@keyframes spin {
     from {
       transform: rotate(0deg);
     }
     to {
       transform: rotate(360deg);
     }
}

.time {
    padding-top: 1rem; 
    font-size: 5rem;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
      
.buttons {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-items: center;
}
      
.play-pause {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background: #6C7CB3;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
}

.reset {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    color: #ff8901;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}
          
.reset:disabled {
    cursor: not-allowed;
    opacity: 0.6;
} 
